<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Group Three Foods</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" />
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static',filename='assets/group_three3.PNG') }}">
        <hr>
        <form action="/item" method="POST">
            <label for="food">Enter a Dish:</label>
            <input type="text" id="food" name="food">
            <input type="submit" value="Submit">
        </form>
        <br>
        {% if food_response %}
            {% for key, value in food_response.items() %}
            <div class="recipe-container">
                <h2>{{key}}</h2>
                <ul>
                {% for val in value %}
                    <li>{{val}}</li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
