<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Group Three Foods</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static',filename='assets/group_three3.PNG') }}">
        <hr>
        <form action="/item" method="POST">
            <label for="food">Enter a Dish:</label>
            <input type="text" id="food" name="food">
            <input type="submit" value="Submit">
        </form>
        <br>
        {% if food_response %}
        <div class="container">
            <div class="row">
                <div class="col-md-3 image-container">
                    <h2>Placeholder<br>for Image</h2>
                </div>
                <div class="col-md-6 recipe-container">
                    {% if food_response[0] %}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                            <div class="carousel-inner">
                            <!-- Wrapper for slides -->
                                {% for key, value in food_response[0].items() %}
                                <div class="item{{' active' if loop.index==1 else ''}}">
                                    <div class="padding">
                                        <h2>{{key}}</h2>
                                        <ul>
                                        {% for val in value %}
                                            <li>{{val}}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        <!-- Left and right controls -->
                    <a class="carousel-control" href="#myCarousel" data-slide="prev" style="width:30px;">
                        <div class="glyphicon glyphicon-chevron-left col"></div>
                    </a>
                    <a class="carousel-control" href="#myCarousel" data-slide="next" style="width:30px; margin-left:328px;">
                        <div class="glyphicon glyphicon-chevron-right col"></div>
                    </a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3 yelp-container">
                    {% if food_response[1] %}
                    <h3>Top Restaurant:</h3>
                    <h2>{{food_response[1]}}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
